/* src/index.css */

body {
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #555;
}
